openai
langchain
huggingface_hub
transformers
torch
python-dotenv
langchain-community
langchain_text_splitters
langchain_openai
langchain_chroma
python_dotenv
langchain-google-genai
requests 
beautifulsoup4
markdownify
langchain-experimental
langchain-groq
groq
dotenv
python-dotenv 
